{% extends "base.html" %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">



            {% for anim in animes %}

            <div class="card" style="width: 18rem;">
                <center>
                    <br>
                <img src="{{ anim.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ anim.name }}</h5>
                  <p class="card-text"></p>
                  <a href="{% url 'anime' anim.name %}" class="btn btn-primary">Go to Product's</a>
                </div>
            </center>
              </div>




            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}
<!-- <a href="{% url 'anime' anim.name %}"> {{ anime.name }}</a> -->